.hero-header {
	height: 95vh;
	background-image: url(../images/hero.jpg);
	background-size: cover;
	background-position: center;
    display: flex;
    align-content: center;
    justify-content: center;

    &__text-box {
        max-width: $grid-width-m;
        text-align: center;
    }
}