.tag {

    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $clairvoyant;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $clairvoyant;
        padding: 3px;
        transition: all .2s;

    }

    &:hover {
        background-color: $clairvoyant;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, $alpha: .15);
        transform: translateY(-2px);

    }

    &:active {
        box-shadow: 0 1rem 1rem rgba($color-black, $alpha: .15);
        transform: translateY(0px);
    }
}

