.button {

    &:link, &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.6rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: 1.6rem;
    }

    &:hover {
        transform: translateY(-.4rem);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
	        opacity: 0;
        }
    }

    &:active {
        transform: translateY(-.2rem);
	    box-shadow: 0 .5rem 1rem rgba($color-black, .3);
    }

    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
        transition: all .4s;
    }

    &--animated {
	    animation: moveInbottom 2s ease-in-out;
	    animation-fill-mode: backwards;
    }
}

.button-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $clairvoyant;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $clairvoyant;
        padding: 3px;
        transition: all .2s;

    }

    &:hover {
        background-color: $clairvoyant;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, $alpha: .15);
        transform: translateY(-2px);

    }

    &:active {
        box-shadow: 0 1rem 1rem rgba($color-black, $alpha: .15);
        transform: translateY(0px);
    }
}

.button-card {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $clairvoyant;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $clairvoyant;
        padding: 3px;
        transition: all .2s;

    }

    &:hover {
        background-color: $clairvoyant;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, $alpha: .15);
        transform: translateY(-2px);

    }

    &:active {
        box-shadow: 0 1rem 1rem rgba($color-black, $alpha: .15);
        transform: translateY(0px);
    }
}