.who-we-are {
    background-image: url(../images/shapes_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: difference;
}