
.content {

    &__text-box{
        max-width: $grid-width;
        margin: 0 auto;
    }
}

.book-a-tour {
    background-color: $color-grey-light-1;
}

.reviews {
    background-color: $color-black;
    color: $color-white;
}

.partners {

    &__tags {
        margin: 0 auto;
        max-width: $grid-width;
    }
    
}