// COLORS
$mac-and-cheese: #FDB876;
$mac-and-cheese-light: #FFCC9A;
$mac-and-cheese-dark: #F2A356;

$eastern-blue: #22B2A7;
$eastern-blue-light: #3BD6CA;
$eastern-blue-dark: #0E9187;

$amaranth: #ED2578;
$amaranth-light: #FA5E9F;
$amaranth-dark: #CE0055;

$astra: #FBEDC2;
$astra-light: #FFF6D9;
$astra-dark: #F4DF9E;

$clairvoyant: #3A084E;
$clairvoyant-light: #4C0C66;
$clairvoyant-dark: #2E063F;



$color-grey-light-1: #f7f7f7;


$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

//GRID
$grid-width: 114rem;
$grid-width-m: 88rem;
$grid-width-s: 64rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//FONT SIZES
$default-font-size: 1.8rem;